.App {
  text-align: center;
}
.content-style{
  width: 100%;
}
@media(min-width:300px){
.content-style{
  width: 72%;
    left: 14%;
}
}
@media(min-width:576px){
  .content-style{
    width: 100%;
    left:5%;
  }
}
