.content-background{
    background-color:white;
}
.font-color{
    color: blue;
}
.title{
    font-weight: bold;
    text-align: left;
}
.image-background{
    background-color:rgb(230, 230, 230);
    margin-top: 10%;
    text-align: center;
}
.image-style{
    width: 90%;
}
.main-container{
    text-align: left;
}