.filter-background{
    background-color:white;
    padding: 5%;
}
.row-margin{
margin-bottom: 5%;
margin-left: 0;
}
.button-style{
    padding: 2px 12px !important;
    background-color: rgb(162, 247, 162);
    border: 1px solid transparent;
    color: black;
}
.right-button-margin{
    margin-right: 10%;
}

.filter-title{
    text-align: center !important;
    text-decoration: underline;
}
.filter-margin{
    margin-bottom: 10%;
}
.filter-title{
    text-align: left;
    font-weight: 300;
}
@media(min-width:300px){
    .right-button-margin{
        margin-right: 7%;
    }
    .button-style{
        padding: 2px 30px !important;
    }
    .filter-background {
        width: 70%;
        margin-left: 15%;
    }
}
@media(min-width:400px){
    .right-button-margin{
        margin-right: 12%;
    }
    /* .button-style{
        padding: 2px 40px !important;
    } */
   
}
@media(min-width:457px){
    .right-button-margin{
        margin-right: 14%;
    }
    .button-style{
        padding: 2px 40px !important;
    }
}
@media(min-width:491px){
    .right-button-margin{
        margin-right: 20%;
    }
    .button-style{
        padding: 2px 40px !important;
    }
}
@media(min-width:576px){
    .right-button-margin{
        margin-right: 10%;
    }
    .button-style{
        padding: 2px 12px !important;
    }
    .filter-background {
        width: 100%;
    }
}
@media(min-width:768px){
    .right-button-margin{
        margin-right: 10%;
    }
    .button-style{
        padding: 2px 23px !important;
    }
}
@media(min-width:992px){
    .right-button-margin{
        margin-right: 1%;
    }
    .button-style{
        padding: 2px 12px !important;
    }
}
@media(min-width:1200px){
    .right-button-margin{
        margin-right: 10%;  
    }
    .button-style{
        padding: 2px 12px !important;
    }
}